a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-family: serif;
}
body div input:-internal-autofill-selected {
  background-color: transparent !important;
}
.loader {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}
.front-table {
  max-width: 80%;
  margin: 0 auto;
}
span.error {
  font-size: 11px;
  color: #f00;
}
